body{
    margin:0px;
}
.navbar{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style:solid;
    border-color:black;
    text-align: center;
    padding:30px;
    font-family:"consolas";

}
.navbar a{
    text-decoration: none;
    padding:18px;
    color:black
}
.navbar a:hover{
    background-image: linear-gradient(to right,black,white);
    background-repeat: no-repeat;
    color:white;
    border-radius: 6%;
}

.card{
    border-style:solid;
    width: 300px;
    overflow: hidden;
    border-radius: 6%;
    text-align: center;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-color: rgba(46, 43, 43, 0.151);
    padding-bottom:20px;
    margin-bottom:20px;
}

.card #image{
    width: 100%;
    overflow: hidden;
}
.card button{
    width:80%;
    border-style:none;
    padding:10px;
    border-radius:6px;
}
.card button:hover{
    color:white;
    background-color: black;
}